# vim: ft=yaml
#
# Set default values.
---
values:
  {= {"lookup": final_lookup} | yaml | indent(2) =}
  {= final_settings | yaml | indent(2) =}
  tofs:
    files_switch:
      - id
      - roles
      - os_family
...
