# vim: ft=yaml
---
{= state_root =}:
  lookup:
    master: template-master
    # Just for testing purposes
    winner: lookup
    added_in_lookup: lookup_value
{!- if pkg and "pkg" not in lookup !}
    pkg:
      name: {= pkg =}
{!- endif !}
{!- if needs_repo !}
    enablerepo:
      stable: true
{!- endif !}
{!- if config and "config" not in lookup !}
    config: '{= config =}'
{!- endif !}
{!- if service and "service" not in lookup !}
    service:
      name: {= service =}
{!- endif !}
{!- if subcomponent and subcomponent not in lookup and subcomponent_config !}
    {= subcomponent =}:
      config: {= subcomponent_config =}
{!- endif !}
{!- if lookup !}
    {= lookup | yaml(False) | indent(4) =}
{!- endif !}
{!- if settings !}
  {= settings | yaml(False) | indent(2) =}
{!- endif !}

  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family
    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
    #         I.e.: salt://{= state_root =}/files/default
    # path_prefix: template_alt
    # dirs:
    #   files: files_alt
    #   default: default_alt
    # The entries under `source_files` are prepended to the default source files
    # given for the state
    # source_files:
    #   {= abbr_pysafe =}-config-file-file-managed:
    #     - 'example_alt.tmpl'
    #     - 'example_alt.tmpl.jinja'

    # For testing purposes
    source_files:
      {= abbr_pysafe =}-config-file-file-managed:
        - 'example.tmpl.jinja'
{!- if subcomponent !}
      {= abbr_pysafe =}-{= subcomponent =}-config-file-file-managed:
        - '{= subcomponent =}-example.tmpl.jinja'
{!- endif !}

  # Just for testing purposes
  winner: pillar
  added_in_pillar: pillar_value
