# yamllint disable rule:indentation rule:line-length
# Fedora-36
---
values:
  added_in_defaults: defaults_value
  added_in_lookup: lookup_value
  added_in_pillar: pillar_value
  lookup:
    arch: amd64
    rootgroup: root
{!- if pkg and "pkg" not in lookup !}
    pkg:
      name: {= pkg =}
{!- endif !}
{!- if needs_repo !}
    enablerepo:
      stable: true
{!- endif !}
{!- if config and "config" not in lookup !}
    config: '{= config =}'
{!- endif !}
{!- if service and "service" not in lookup !}
    service:
      name: {= service =}
{!- endif !}
{!- if subcomponent and subcomponent not in lookup and subcomponent_config !}
    {= subcomponent =}:
      config: {= subcomponent_config =}
{!- endif !}
{!- if lookup !}
    {= lookup | yaml(False) | indent(4) =}
{!- endif !}
{!- if settings !}
  {= settings | yaml(False) | indent(2) =}
{!- endif !}
  map_jinja:
    sources:
    - Y:G@osarch
    - Y:G@os_family
    - Y:G@os
    - Y:G@osfinger
    - C@{= abbr_pysafe =}
    - Y:G@id
  master: template-master
  tofs:
    files_switch:
    - any/path/can/be/used/here
    - id
    - roles
    - osfinger
    - os
    - os_family
    source_files:
      {= abbr_pysafe =}-config-file-file-managed:
      - example.tmpl.jinja
{!- if subcomponent !}
      {= abbr_pysafe =}-{= subcomponent =}-config-file-file-managed:
      - {= subcomponent =}-example.tmpl.jinja
{!- endif !}
  winner: pillar
