# vim: ft=sls

{#-
    *Meta-state*.

    Undoes everything performed in the ``tool_{= abbr_pysafe =}`` meta-state
    in reverse order.
#}

include:
{!- if has_completions !}
  - .completions.clean
{!- endif !}
{!- if has_service !}
  - .service.clean
{!- endif !}
{!- if has_configsync or has_config_template !}
  - .config.clean
{!- endif !}
  - .package.clean
