.. include:: ../README.rst
   :start-after: include-header-start
   :end-before: include-header-end

Installation
------------

See the full `SaltStack Formulas installation and usage instructions
<https://docs.saltproject.io/en/latest/topics/development/conventions/formulas.html>`_.

General notes
-------------
This formula is based around the :ref:`mapstack <map.jinja>` and :ref:`TOFS <tofs_pattern>` patterns, which make formula configuration very modular. It is highly advised to understand their application when using this formula.

{!- if flavor == "app" !}

It is part of the :ref:`tool suite <toolsuite>`, which follows a common configuration structure.
{!- endif !}

.. include:: ../README.rst
   :start-after: include-notes-start
   :end-before: include-notes-end

.. toctree::
   :maxdepth: 2
   :caption: Reference
   :hidden:

   ref/states
   ref/configuration

{!- if extmods !}

.. toctree::
  :maxdepth: 2
  :caption: Provided Modules
  :hidden:

  {!   for loader in extmods -!}
{!-     if loader == "execution" !}
{!-       set loader = "module" !}
{!-     endif !}
  extmods/{= loader.rstrip("s") + ("" if loader in singular_loader_dirs else "s") =}/index
{!-   endfor !}
{!- endif !}

.. toctree::
   :maxdepth: 2
   :caption: Guides
   :hidden:

  {! if flavor == "app" -!}
   topics/toolsuite
{!- endif !}
   topics/map.jinja
   topics/TOFS_pattern



Indices and tables
==================

* :ref:`genindex`
{!- if extmods !}
* :ref:`modindex`
{!- endif !}
* :ref:`search`
