# vim: ft=sls

{#-
    This state will remove the configured {= abbr_pysafe =} repository.
    This works for apt/dnf/yum/zypper-based distributions only by default.
#}

{%- set tplroot = tpldir.split("/")[0] %}
{%- from tplroot ~ "/map.jinja" import mapdata as {= abbr_pysafe =} with context %}


{%- if {= abbr_pysafe =}.lookup.pkg_manager not in ["apt", "dnf", "yum", "zypper"] %}
{%-   if salt["state.sls_exists"](slsdotpath ~ "." ~ {= abbr_pysafe =}.lookup.pkg_manager ~ ".clean") %}

include:
  - {{ slsdotpath ~ "." ~ {= abbr_pysafe =}.lookup.pkg_manager ~ ".clean" }}
{%-   endif %}

{%- else %}
{%-   for reponame, enabled in {= abbr_pysafe =}.lookup.enablerepo.items() %}
{%-     if enabled %}

{= service_name =} {{ reponame }} repository is absent:
  pkgrepo.absent:
{%-       for conf in ["name", "ppa", "ppa_auth", "keyid", "keyid_ppa", "copr"] %}
{%-         if conf in {= abbr_pysafe =}.lookup.repos[reponame] %}
    - {{ conf }}: {{ {= abbr_pysafe =}.lookup.repos[reponame][conf] }}
{%-         endif %}
{%-       endfor %}
{%-     endif %}
{%-   endfor %}
{%- endif %}
