# vim: ft=sls

{#-
    Stops the {= service_name =} service and disables it at boot time.
#}

{%- set tplroot = tpldir.split("/")[0] %}
{%- from tplroot ~ "/map.jinja" import mapdata as {= abbr_pysafe =} with context %}


{= service_name =} service is dead:
  service.dead:
    - name: {{ {= abbr_pysafe =}.lookup.service.name }}
    - enable: false
