# vim: ft=sls

{#-
    Starts the {= abbr_pysafe =} service and enables it at boot time.
    Has a dependency on `{= abbr_pysafe =}.{= "config" if config else "package" =}`_.
#}

include:
  - .running
