# vim: ft=yaml
#
# Set default values.
---
values:
  {= {"lookup": final_lookup} | yaml | indent(2) =}
{!- if final_settings !}
  {= final_settings | yaml | indent(2) =}
{!- endif !}
  tofs:
    files_switch:
      - id
      - roles
      - os_family
...
