# vim: ft=sls

{#-
    This state will install the configured {= service_name =} repository.
    This works for apt/dnf/yum/zypper-based distributions only by default.
#}

{%- set tplroot = tpldir.split("/")[0] %}
{%- from tplroot ~ "/map.jinja" import mapdata as {= abbr_pysafe =} with context %}

include:
{%- if {= abbr_pysafe =}.lookup.pkg.manager in ["apt", "dnf", "yum", "zypper"] %}
  - {{ slsdotpath }}.install
{%- elif salt["state.sls_exists"](slsdotpath ~ "." ~ {= abbr_pysafe =}.lookup.pkg.manager) %}
  - {{ slsdotpath }}.{{ {= abbr_pysafe =}.lookup.pkg.manager }}
{%- else %}
  []
{%- endif %}
