# vim: ft=sls

{#-
    *Meta-state*.

    This installs the {= ", ".join(containers.split(",")) =} containers,
    manages their configuration and starts their services.
#}

include:
  - .package
  - .config
  - .service
