name: {= formula_name =}
os: {= oss | sort | join(", ") =}
os_family: {= os_families | sort | join(", ") =}
version: 1.0.0
release: 1
minimum_version: {= salt_version =}
summary: {= formula_name =} formula
description: {= description =}
top_level_dir: {= state_root =}
