[build-system]
requires = [
    "wheel",
    "setuptools>=50.3.2",
    "setuptools_scm[toml]>=3.4",
]
build-backend = "setuptools.build_meta"

[project]
name = "{= state_root =}_formula"
description = "Saltstack {! if flavor == "app" and extmods !}{= extmods | sort | join("/") =} modules and {! endif !}states to manage {= service_name =}"
authors = [
    {name = "{= author =}"},
]
keywords = [
    "salt-formula",
    "saltstack-formula",
]
license = {text = "{= license_name =}"}
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Cython",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
{!- if license_classifier !}
    "{= license_classifier =}",
{!- endif !}
]
requires-python = ">= 3.9"
dynamic = ["version"]
dependencies = []

[project.readme]
file = "README.rst"
content-type = "text/x-rst"

[project.urls]
Homepage = "{= url =}"
{!- if docs_url !}
Documentation = "{= docs_url =}"
{!- endif !}
{!- if source_url !}
Source = "{= source_url =}"
{!- endif !}
{!- if tracker_url !}
Tracker = "{= tracker_url =}"
{!- endif !}

[project.optional-dependencies]
dev = [
    "salt>={= salt_version =}",
    "nox[uv]>=2024.3",
    "pre-commit>=2.21.0",
]
docs = [
  "sphinx",
  "sphinx-prompt",
  "sphinxcontrib-spelling",
  "sphinx-copybutton",
  "myst_parser",
  "furo",
  "sphinx-inline-tabs",
]
docsauto = ["sphinx-autobuild"]
lint = [
    "pylint==3.2.6",
]
tests = [
    "pytest>=7.2.0",
    "pytest-salt-factories>=1.0.0; sys_platform == 'win32'",
    "pytest-salt-factories[docker]>=1.0.0; sys_platform != 'win32'",
]

[tool.build_sphinx]
source_dir = "docs"
build_dir = "build/sphinx"

[tool.isort]
profile = "black"

[tool.rstcheck]
report_level = "INFO"
ignore_languages = [
    "rst",
]
# salt["config.get"]("roles") is misidentified as a Markdown link.
#   Ignore for now, but perhaps try to submit a fix upstream in rstcheck
ignore_messages = [
    "Duplicate (ex|im)plicit target.*",
    "Hyperlink target \".*\" is not referenced\\.$",
    "\\(rst\\) Link is formatted in Markdown style\\.",
]
ignore_directives = [
    "automodule",
    "autosummary",
    "conf",
    "state",
]

[tool.slsdoc]
include_empty = true

[tool.slsdoc.single_renderer]
header = "States"
description = """\
The following states are found in this formula:

.. contents::
   :local:
   :class: this-will-duplicate-information-and-it-is-still-useful-here no-toc
"""
main_heading_char = "-"
sub_heading_char = "{= "~" if flavor == "app" else "^" =}"
literal_sub_heading = true
state_rst_directive = "state"

[tool.setuptools.packages.find]
where = []
exclude = ["*"]
namespaces = false
