# vim: ft=yaml
---
tool_global:
  users:
    user:
      completions: .completions
      configsync: true
      persistenv: .bash_profile
      rchook: .bashrc
      xdg: true
{!- if user_settings !}
      {= abbr_pysafe =}:
        {= user_settings | yaml(False) | indent(8) =}
{!- endif !}
tool_{= abbr_pysafe =}:
  lookup:
    master: template-master
    # Just for testing purposes
    winner: lookup
    added_in_lookup: lookup_value

    pkg:
      name: {= pkg =}
{!- if "pkg" in lookup !}
      {= lookup.pkg | yaml(False) | indent(6) =}
{!- endif !}
{!- if needs_repo !}
      enable_repo:
        - stable
{!- endif !}
    paths:
      confdir: '{= default_confdir =}'
      conffile: '{= default_conffile =}'
{!- if needs_xdg_help or has_xdg !}
      xdg_dirname: '{= xdg_dirname =}'
      xdg_conffile: '{= xdg_conffile =}'
{!- endif !}
{!- if "paths" in lookup !}
      {= lookup.paths | yaml(False) | indent(6) =}
{!- endif !}
    rootgroup: root
{!- if has_service !}
    service:
      name: {= pkg =}
{!-   if "service" in lookup !}
      {= lookup.service | yaml(False) | indent(6) =}
{!-   endif !}
{!- endif !}
{!- for var, val in lookup.items() !}
{!-   if var not in ["pkg", "service", "paths"] !}
    {= {var: val} | yaml(False) | indent(4) =}
{!-   endif !}
{!- endfor !}
{!- if settings !}
  {= settings | yaml(False) | indent(2) =}
{!- endif !}

  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family
    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
    #         I.e.: salt://tool_{= abbr_pysafe =}/files/default
    # path_prefix: template_alt
    # dirs:
    #   files: files_alt
    #   default: default_alt
    # The entries under `source_files` are prepended to the default source files
    # given for the state
    # source_files:
    #   tool-{= service_abbr =}-config-file-file-managed:
    #     - 'example_alt.tmpl'
    #     - 'example_alt.tmpl.jinja'

{!- if has_config_template !}

    # For testing purposes
    source_files:
      {= service_name =} config file is managed for user 'user':
        - '{= xdg_conffile or default_conffile =}'
        - '{= xdg_conffile or default_conffile =}.jinja'
{!- endif !}

  # Just for testing purposes
  winner: pillar
  added_in_pillar: pillar_value
