# vim: ft=sls

{#-
    Removes {= service_name =} XDG compatibility crutches for all managed users.
#}

{%- set tplroot = tpldir.split("/")[0] %}
{%- from tplroot ~ "/map.jinja" import mapdata as {= abbr_pysafe =} with context %}


{%- for user in {= abbr_pysafe =}.users | rejectattr("xdg", "sameas", false) %}

{%-   set user_default_conf = user.home | path_join({= abbr_pysafe =}.lookup.paths.confdir{! if has_conffile_only !}, {= abbr_pysafe =}.lookup.paths.conffile{! endif !}) %}
{%-   set user_xdg_confdir = user.xdg.config | path_join({= abbr_pysafe =}.lookup.paths.xdg_dirname) %}
{%-   set user_xdg_conffile = user_xdg_confdir | path_join({= abbr_pysafe =}.lookup.paths.xdg_conffile) %}

{= service_name =} configuration is cluttering $HOME for user '{{ user.name }}':
  file.rename:
    - name: {{ user_default_conf }}
    - source: {{ {= "user_xdg_conffile" if has_conffile_only else "user_xdg_confdir" =} }}

{= service_name =} does not have its config folder in XDG_CONFIG_HOME for user '{{ user.name }}':
  file.absent:
    - name: {{ user_xdg_confdir }}
    - require:
      - {= service_name =} configuration is cluttering $HOME for user '{{ user.name }}'

{= service_name =} does not use XDG dirs during this salt run:
  environ.setenv:
    - value:
        CONF: false
    - false_unsets: true

{%-   if user.get("persistenv") %}

{= service_name =} is ignorant about XDG location for user '{{ user.name }}':
  file.replace:
    - name: {{ user.home | path_join(user.persistenv) }}
    - text: ^{{ 'export CONF="${XDG_CONFIG_HOME:-$HOME/.config}/' ~ {= abbr_pysafe =}.lookup.paths.xdg_dirname |
                path_join({= abbr_pysafe =}.lookup.paths.xdg_conffile) ~ '"' | regex_escape }}$
    - repl: ''
    - ignore_if_missing: true
{%-   endif %}
{%- endfor %}
