# vim: ft=sls

{#-
    *Meta-state*.

    This installs the {= abbr_pysafe =} package{! if config !},
    manages the {= abbr_pysafe =} configuration file{! endif !}
    {! if service !}and then starts the associated {= abbr_pysafe =} service.{! endif !}
#}

include:
  - .package
{!- if config !}
  - .config
{!- endif !}
{!- if service !}
  - .service
{!- endif !}
{!- if subcomponent !}
  - .{= subcomponent =}
{!- endif !}
